<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Season Seer</title>
<link href="style.css" rel="stylesheet" type="text/css"/>
<style>
table, th, td {
    border: 10px solid black;
 }
.column {
  float: left;
  width: 50%;
  flex: 50%;
}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
h2 {
  color: rgb(119, 119, 212);
  font-family: verdana;
  font-size: 100%;
}
.row:after {
  content: "";
  display: flex;
  clear: both;
}
 /* The sidenav */
 .sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(148, 34, 34);
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Page content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
} 
</style>
</head>
<body>
<script src="../apiInterface.py"></script>
<h1 style="text-align:center;">Season Seer</h1>
<h2 style="text-align:center;">Look forward to your next fantasy season!</h2>
<form action="/calculate-results/" target="_blank" style="text-align:center;">
<div class="row">
    <div class="column">
        <h3>Skaters</h3>
        <label for="goals">Goals</label><br>
        <input type="text" id="goals" name="goals" value="3.0"><br><br>
        <label for="assists">Assists</label><br>
        <input type="text" id="assists" name="assists" value="2.0"><br><br>
        <label for="pim">Penalty Minutes</label><br>
        <input type="text" id="pim" name="pim" value="-0.5"><br><br>
        <label for="ppp">Powerplay Points</label><br>
        <input type="text" id="ppp" name="ppp" value="1.0"><br><br>
        <label for="shp">Shorthanded points</label><br>
        <input type="text" id="shp" name="shp" value="1.0"><br><br>
        <label for="sog">Shots on Goal</label><br>
        <input type="text" id="sog" name="sog" value="0.5"><br><br>
        <label for="hit">Hits</label><br>
        <input type="text" id="hit" name="hit" value="0.5"><br><br>
        <label for="blk">Blocks</label><br>
        <input type="text" id="blk" name="blk" value="0.5"><br><br>
        <br> 
    </div>
    <div class="column">
        <h3>Goalies</h3>
        <label for="win">Wins</label><br>
        <input type="text" id="win" name="win" value="2.0"><br><br>
        <label for="ga">Goals Against</label><br>
        <input type="text" id="ga" name="ga" value="-1.0"><br><br>
        <label for="save">Saves</label><br>
        <input type="text" id="save" name="save" value="0.3"><br><br>
        <label for="so">Shutouts</label><br>
        <input type="text" id="so" name="so" value="3.0"><br><br>
        <h3>Positions Shown</h3>
        <select id="positions" name="positions">
            <option value="all">All Players</option>
            <option value="skater">Skaters</option>
            <option value="forward">Forwards</option>
            <option value="left">Left Wings</option>
            <option value="center">Centers</option>
            <option value="right">Right Wings</option>
            <option value="defense">Defensemen</option>
            <option value="goalie">Goaltenders</option>
          </select>
          <h3>Sort By</h3>
        <select id="sort" name="sort">
            <option value="sortInTotal">Total points</option>
            <option value="sortPerGame">Points per game</option>
          </select>
    </div>
</div>
 <div id="mySidenav" class="sidenav" style="text-align:left;">
  <h2 style="text-align:center;">Categories visible in summary</h2>

  <h3>Player Characteristics</h3>
  <input checked type="checkbox" name="showCharjerseyNumber" value="Number">
  <label for="showCharjerseyNumber"> Number</label><br>
  <input checked type="checkbox" name="showCharposition" value="Position">
  <label for="showCharposition"> Position</label><br>
  <input checked type="checkbox" name="showCharcurrentTeam" value="Team">
  <label for="showCharcurrentTeam"> Team Name</label><br> 

  <h3>Fantasy Statistics</h3>
  <input checked type="checkbox"  name="InTotal" value="Fantasy Points In Total">
  <label for="InTotal"> Total score</label><br>
  <input checked type="checkbox" name="PerGame" value="Fantasy Points Per Game">
  <label for="PerName"> Score per game</label><br>

  <h3>Skater Statistics</h3>
  <input checked type="checkbox" name="showgames" value="Games Played">
  <label for="showgames"> Games played</label><br>
  <input checked type="checkbox" name="showgoals" value="Goals">
  <label for="showgoals"> Goals</label><br>
  <input checked type="checkbox" name="showassists" value="Assists">
  <label for="showassists"> Assists</label><br>
  <input checked type="checkbox" name="showpoints" value="Points">
  <label for="showpoints"> Points</label><br>
  <input checked type="checkbox" name="showpim" value="PIM">
  <label for="showpim"> Penalty Minutes (PIM)</label><br>
  <input checked type="checkbox" name="showpowerPlayPoints" value="PPP">
  <label for="showpowerPlayPoints"> Powerplay points (PPP)</label><br>
  <input checked type="checkbox" name="showshortHandedPoints" value="SHP">
  <label for="showshortHandedPoints"> Shorthanded points (SHP)</label><br>
  <input checked type="checkbox" name="showshots" value="SOG">
  <label for="showshots"> Shots on goal (SOG)</label><br>
  <input checked type="checkbox" name="showhits" value="Hits">
  <label for="showhits"> Hits (HIT)</label><br>
  <input checked type="checkbox" name="showblocked" value="Blocks">
  <label for="showblocked"> Blocks (BLK)</label><br>

  <h3>Goalie Statistics</h3>
  <input checked type="checkbox" name="showGoaliegames" value="Games Played">
  <label for="showGoaliegames"> Games played</label><br>
  <input checked type="checkbox" name="showGoaliewins" value="Wins">
  <label for="showGoaliewins"> Wins</label><br>
  <input checked type="checkbox" name="showGoaliegoalsAgainst" value="GA">
  <label for="showGoaliegoalsAgainst"> Goals against</label><br>
  <input checked type="checkbox" name="showGoaliesaves" value="Saves">
  <label for="showGoaliesaves"> Saves</label><br>
  <input checked type="checkbox" name="showGoalieshutouts" value="SO">
  <label for="showGoalieshutouts"> Shutouts</label><br>
</div>

<input type="submit" value="Calculate Last Season's Results">
</form>
</html>