<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Season Seer</title>
<link href="style.css" rel="stylesheet" type="text/css"/>
<style>
table, th, td {
    border: 10px solid black;
 }
.column {
  float: left;
  width: 50%;
  flex: 50%;
}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
h2 {
  color: rgb(119, 119, 212);
  font-family: verdana;
  font-size: 100%;
}
.row:after {
  content: "";
  display: flex;
  clear: both;
}
</style>
</head>
<body>
<script src="../apiInterface.py"></script>
<h1>Season Seer</h1>
<h2>Look forward to your next fantasy season!</h2>
<form action="/my-link/" target="_blank">
<div class="row">
    <div class="column">
        <h3>Skaters</h3>
        <label for="goals">Goals</label><br>
        <input type="text" id="goals" name="goals" value="3.0"><br><br>
        <label for="assists">Assists</label><br>
        <input type="text" id="assists" name="assists" value="2.0"><br><br>
        <label for="pim">Penalty Minutes</label><br>
        <input type="text" id="pim" name="pim" value="-0.5"><br><br>
        <label for="ppp">Powerplay Points</label><br>
        <input type="text" id="ppp" name="ppp" value="1.0"><br><br>
        <label for="shp">Shorthanded points</label><br>
        <input type="text" id="shp" name="shp" value="1.0"><br><br>
        <label for="sog">Shots on Goal</label><br>
        <input type="text" id="sog" name="sog" value="0.5"><br><br>
        <label for="hit">Hits</label><br>
        <input type="text" id="hit" name="hit" value="0.5"><br><br>
        <label for="blk">Blocks</label><br>
        <input type="text" id="blk" name="blk" value="0.5"><br><br>
        <br> 
    </div>
    <div class="column">
        <h3>Goalies</h3>
        <label for="win">Wins</label><br>
        <input type="text" id="win" name="win" value="2.0"><br><br>
        <label for="ga">Goals Against</label><br>
        <input type="text" id="ga" name="ga" value="-1.0"><br><br>
        <label for="save">Saves</label><br>
        <input type="text" id="save" name="save" value="0.3"><br><br>
        <label for="so">Shutouts</label><br>
        <input type="text" id="so" name="so" value="3.0"><br><br>
        <h3>Positions</h3>
        <select id="positions" name="positions">
            <option value="all">All Players</option>
            <option value="skater">Skaters</option>
            <option value="forward">Forwards</option>
            <option value="left">Left Wings</option>
            <option value="center">Centers</option>
            <option value="right">Right Wings</option>
            <option value="defense">Defensemen</option>
            <option value="goalie">Goaltenders</option>
          </select>
          <h3>Sort By</h3>
        <select id="sort" name="sort">
            <option value="total">Total points</option>
            <option value="game">Points per game</option>
          </select>
    </div>
</div>
<input type="submit" value="Calculate Last Season's Results">
</form>
</html>